@import 'reset';

/* SCSS VARIABLES */

$layout_bp_mobile: 390px;
$layout_bp_desktop: 1200px;

@mixin mobile {
    @media only screen and (min-width: #{$layout_bp_mobile}) {
      @content;
    }
}
  

@mixin desktop {
    @media only screen and (min-width: #{$layout_bp_desktop}) {
      @content;
    }
}

@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{calc(stripUnit($pxValue) / stripUnit(16))}rem;
}

html, body {
	font-size: 16px;
}